babel.config.js
react-native.config.js
tsconfig.json
yarn.lock
assets/*
jest.config.js
jest/setup.ts
tests/*
__mocks__
metro.config.js
app.config.js
set_env_vars.sh
scripts/
android/
ios/
android
ios
fastlane/
fastlane/*
Jenkinsfile
babel.config.js
commitlint.config.js
env.js
plugins/